<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"> <!-- adds the fragment that we add to inject -->
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">RunGroup</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <form role="form" method="post" th:action="@{/events/{eventId}/edit(eventId = ${eventId})}" th:object="${event}">
        <div class="form-row mb-3 d-flex-wrap">
          <div class="form-group col-md-6">
            <aria-label for="name">Name</aria-label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}"
                    placeholder="Event name">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="form-group col-md-6">
            <aria-label for="type">Type</aria-label>
            <input
                    type="text"
                    class="form-control"
                    id="type"
                    name="type"
                    th:field="*{type}"
                    placeholder="Event type">
            <p th:if="${#fields.hasErrors('type')}" class="text-danger" th:errors="*{type}"></p>
          </div>
          <div class="form-group col-md-6">
            <aria-label for="photoUrl">PhotoUrl</aria-label>
            <input
                    type="url"
                    class="form-control"
                    id="photoUrl"
                    name="photoUrl"
                    th:field="*{photoUrl}"
                    placeholder="Event URL">
            <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
          </div>
          <div class="form-group col-md-6">
            <aria-label for="startTime">Start Time</aria-label>
            <input
                    type="datetime-local"
                    class="form-control"
                    id="startTime"
                    name="startTime"
                    th:field="*{startTime}"
                    placeholder="Event Starting Time">
            <p th:if="${#fields.hasErrors('startTime')}" class="text-danger" th:errors="*{startTime}"></p>
          </div>
          <div class="form-group col-md-6">
            <aria-label for="endTime">End Time</aria-label>
            <input
                    type="datetime-local"
                    class="form-control"
                    id="endTime"
                    name="endTime"
                    th:field="*{endTime}"
                    placeholder="Enter Ending Time">
            <p th:if="${#fields.hasErrors('endTime')}" class="text-danger" th:errors="*{endTime}"></p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </section>
</main>

</body>
</html>